PORT=3000
FRONTEND_URL=http://localhost:5173

MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?appName=Cluster0

ADMIN_EMAIL=your-admin-email@example.com

CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

NODE_ENV=development

CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
